$main-color: rgb(107, 203, 255);
$main-color-light: rgb(202, 236, 255);

$nav-color: rgb(91, 143, 255);

$footer-color: rgb(84, 81, 120);

$text-color: white;
$text-alert: rgb(255, 127, 127);
$text-alert-d: rgb(202, 47, 47);

$shadow: rgba(0, 0, 0, 0.2);

$btn-create: rgb(43, 118, 69);
$btn-create-light: rgb(54, 204, 107);
$btn-cancel: rgb(255, 149, 117);
$btn-filter: rgb(70, 82, 252);