.button-cancel {
    background-color: $btn-cancel;
    border-radius: 12px;
}
.button-profile {
    border-radius: 2em;
    border-radius: 12px;
}
.button-profile button p:hover {
    transform: scale(0.9);
}
.button-submit {
    background-color: $main-color-light;
    border: 0.5px solid $main-color;
    font-weight: 700;
    border-radius: 12px;
}
.button-create {
    background-color: $btn-create-light;
    border: 0.5px solid $btn-create;
    font-weight: 700;
    border-radius: 12px;
}
.button-config-book {
    background-color: rgb(153, 99, 206);
    border-radius: 12px;
    margin-left: 12px;
}
.button-disabled {
    opacity: 0.5;
}
button {
    padding: 0.5em;
}
.expand {
    margin: auto;
}
.button-lg {
    padding: 1em;
    width: fit-content;
}
.button-features:hover {
    display: block;
}
.button-underline {
}
.button-underline:hover {
    border-bottom: 2px solid rgb(170, 249, 255);
}
.dropdown-create {
    border: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    border: 1px solid $btn-create;
    background-color: inherit;
}
.dropdown-create:hover {
    border: 1px solid $btn-create;
    background-color: $btn-create;
}
.dropdown-filter {
    border: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    border: 1px solid $btn-filter;
    background-color: inherit;
}
.dropdown-filter:hover {
    border: 1px solid $btn-filter;
    background-color: $btn-filter;
}
