.icon-sm {
    width: 1.5em;
    height: 1.5em;
}
.icon-md {
    width: 2em;
    height: 2em;
}
.icon-lg {
    width: 3em;
    height: 3em;
}
.icon-xxl {
    width: 7em;
    height: 7em;
}
.icon-bg {
    border-radius: 100%;
    background-color: rgb(74, 255, 71);
    padding: 1.2em;
}
