.success-header {
    background-color: $btn-create-light;
}
.failure-header {
    background-color: $btn-cancel;
}
.message-container {
    animation: show 1s 0s forwards, hide 1s 6s forwards;
}
.account-failure-container {
    background-color: rgba($text-alert, .75);
}
.account-failure-text {
    color: $text-alert-d;
    font-weight: bolder;
}
